/* 将额外的样式表导入主CSS样式表，可以使用@import: */
@import "styles2.css";

/* 一次使用多个选择器 */
/* p, li {
    color: green;
}

/* 浏览器的默认样式下，无序列表 <ul>，它自带项目符号，移除它们： */
/* li {
    list-style-type: none;
  }  */

/* 选中每个 special 类的 li 元素 */
/* li.special {
    color: orange;
    font-weight: bold;
  } */

/* 选择<li>内部的任何<em>元素（<li>的后代） */
/* li em {
    color: rebeccapurple;
  } */

/* 出现在标题后面并且与标题具有相同层级的段落样式，为此需在两个选择器之间添加一个 + 号 (成为 相邻选择符)  */
h1 + p {
  font-size: 1px;
}

a:link {
  color: pink;
}

a:visited {
  color: green;
}

a:hover {
  color: red;
  /* 去除链接样式，删除了下划线 */
  text-decoration: none;
}

.outer {
  border: 5px solid black;
}

.box {
  padding: 10px;
  /* calc()函数。这个函数允许您在CSS中进行简单的计算 */
  width: calc(90% - 30px);
  background-color: rebeccapurple;
  color: white;
  /* <transform>, 例如 rotate().旋转 */
  transform: rotate(0.8turn);
}

body {
  background-color: pink;
}

/* 果浏览器的宽度大于30em，则背景色将为蓝色。 */
@media (min-width: 30em) {
  body {
    background-color: blue;
  }
}
